/* Universal */

a:link { 
  text-decoration: none;
  color: initial;
}
a {
  color: black;
}


/* Navbar */

#navbar-wrapper {
  display: flex;
  justify-content: space-between;
}
#navbar-left {
  width: 150px;
  padding: 8px;
  font-weight: bold;
}
#navbar-center {
  padding: 8px;
  width: calc(100vw - 300px);
}
#navbar-center div{
  display: inline-block;
  padding-right: 8px;
  
}
#navbar-right {
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

/* homepage */

#homepage-h1-wrapper {
  height: 400px;
  background-color: antiquewhite;
  padding: 175px 0;
  text-align: center;
}